.tx-container {
    padding: 10px;
}
.row {
    width:100%;
}
.tx-list {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    min-height: 200px;
    border: 1px solid #626969;
}
.tx-item {
    cursor: pointer;
    margin-left: 1em;
}
.tx-item:hover {
    background-color: lightGrey;
}

.tx-det {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    min-height: 200px;
}
h1 {
    margin-left: 1em;
}
li {
    list-style: none;
    overflow: hidden;
}
.det-items {
    margin-left: 1em;
}
.label-std {
    font-weight: bold;
}

.droppable {
    border: 1px solid #626969;
}

.w-50 {
    width: 40%;
    min-height: 100px;
}

.float-right{
    float: right;
}
.border-light{
    border: 1px solid #626969;
    min-height: 100px;
}